<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body class="body-wrap">
    <div style="background-color:#1e1e2e;border-bottom:#db4ecf;" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
               
                @Html.ActionLink("Health Eco", "index", "home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="pull-right">
                    <ul class="nav navbar-nav" style="list-style:none; display:inline-block; margin-top:2%; width:200px;">
                        <li style="margin-left:5%;">
                            <img src="~/Content/Icons/082-search-2.png" style="display:inline-block; border-radius:50%;" height="40" width="40" />
                        </li>
                        <li style="margin-left: 5%;display:inline-block;">
                            <img src="~/Content/Icons/013-lifeline-1.png" style="display:inline-block; border-radius:50%;" height="40" width="40" />
                        </li>
                        <li style="margin-left: 5%; color:#fff; display:inline-block;"><img src="~/Content/Icons/064-medical-2.png" style="display:inline-block; border-radius:50%;" height="40" width="40" /></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>


    <div class="page-wrap container-fluid">

        <div class="row">
            <div class="col-sm-12">
                @RenderBody()
            </div>
        </div>
        <div class="push"></div>
    </div>

    <div class="site-footer">
        <p>&copy; @DateTime.Now.Year - Bongani Qunta Production</p>
    </div>



    
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/main/main.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>

    @*<script src="~/Scripts/tinymce/themes/silver/theme.js"></script>*@
</body>
</html>