
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-3" style="margin:0;">
        <div class="side_nav" style="height: 100%;">
            <div class="side_nav_title">
                Health Eco Menu
            </div>
            <div class="side_nav_body">
                <ul>
                    <li>
                        <a href="#">
                            <img src="~/Content/Icons/016-calendar.png" style="display:inline-block; border-radius:50%;" height="40" width="40" />
                            Consulatation suite
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/Icons/026-doctor.png" style="display:inline-block; border-radius:50%;" height="40" width="40" /> E-Docs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/Icons/075-records.png" style="display:inline-block; border-radius:50%;" height="40" width="40" />
                            Reports
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/Icons/011-tensiometer.png" style="display:inline-block; border-radius:50%;" height="40" width="40" />
                            Medical Aid
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/Icons/061-medical-care.png" style="display:inline-block; border-radius:50%;" height="40" width="40" />
                            Ecosystem
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/Icons/001-ambulance.png" style="display:inline-block; border-radius:50%;" height="40" width="40" />
                            Community
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9" style="margin:0;padding:0;">
        <div class="dashboard">
            <div class="dashboard_title">
                <h3>Dashboard header</h3>
            </div>
            <div class="dashboard_body">
                <h3>Dashboard body</h3>
            </div>
        </div>
    </div>
</div>

